body {
    background: #eee;
    text-align: center;
}

.UThidden {
  display: none;
}

#header {
  height: 150px;
  background-color: #CCC;
  margin: 10px;
}

#computerInfo {
  font-size: 14pt;
}
#computerIdentifier {
  font-weight: bold;
}

