body {
}

#flash_error {
  display: none;
}

#header {
  text-align: center;
}
#ipInfo {
  font-size: 24.5px;
  font-weight: bold;
}
#ipInfo span {
  font-weight: normal;
}
#exportButton {
  width: 75%;
}

#computerInfo, #submitComputer, #content, #content img {
  display: none;
}
#computerInfo {
  font-size: 14pt;
}
#computerForm {
  margin: 1em 0;
}
#computerIdentifier {
  font-weight: bold;
}
#results {
  font-size: 24.5px;
}
#results span {
  font-weight: bold;
}
.alert {
  margin-top: 1em;
}

