body {
    background: #eee;
    text-align: center;
}

.UThidden {
  display: none;
}

#flash {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px;
  display: none;
}
#flash #flash_error {
  margin-right: auto;
  margin-left: auto;
  background-color: red;
  color: white;
  padding: 10px 20px;
}

#header {
  height: 150px;
  background-color: #CCC;
  margin: 10px;
}

#computerInfo {
  font-size: 14pt;
}
#computerIdentifier {
  font-weight: bold;
}

